Options -Indexes

<FilesMatch "^\.">
    Require all denied
</FilesMatch>

<FilesMatch "^(package(-lock)?\.json|qr-browser-entry\.js)$">
    Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule (^|/)\.git(/|$) - [F,L]
</IfModule>
